In [2]:
import pandas as pd
import seaborn as sb
import numpy as np


import os

%matplotlib inline
os.chdir('..')

print(os.getcwd())

D:\ml

In [5]:
with open('boot/workdir/data/v0001_train_x.csv') as f:
    for i, l in enumerate(f):
        continue
    print(i)

25289

In [27]:
from sklearn.preprocessing import normalize

#14 => 1


x = pd.read_csv('workdir/data/v0001_train_x.csv', index_col='id')
x2 = pd.read_csv('workdir/data/v0001_train_y.csv', index_col='id')
x['res'] = x2['res']
x[x['totalScore']==0][x['res']==1].filter(items=['totalScore', 'res'])

D:\Python36\lib\site-packages\ipykernel\__main__.py:9: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>totalScore</th>
      <th>res</th>
    </tr>
    <tr>
      <th>id</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>82</th>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>129</th>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>232</th>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>343</th>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>481</th>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>835</th>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>869</th>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>903</th>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1006</th>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1324</th>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1404</th>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1597</th>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1713</th>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1822</th>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2178</th>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2403</th>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2421</th>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2717</th>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2978</th>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2988</th>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>3072</th>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>3091</th>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>3218</th>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>3768</th>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>3882</th>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>3959</th>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>3999</th>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4353</th>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4390</th>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4419</th>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>20022</th>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>20026</th>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>20052</th>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>20098</th>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>20439</th>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>20845</th>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>21209</th>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>21214</th>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>21243</th>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>21376</th>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>21699</th>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>21927</th>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>21970</th>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>22025</th>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>22348</th>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>22584</th>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>22687</th>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>22866</th>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>22962</th>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>23045</th>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>23244</th>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>23330</th>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>23550</th>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>23570</th>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>23720</th>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>23831</th>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>24590</th>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>24702</th>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>24871</th>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>24983</th>
      <td>0</td>
      <td>1</td>
    </tr>
  </tbody>
</table>
<p>137 rows × 2 columns</p>
</div>

In [15]:
x.columns

Index(['maxPlayerLevel', 'numberOfAttemptedLevels',
       'attemptsOnTheHighestLevel', 'totalNumOfAttempts',
       'averageNumOfTurnsPerCompletedLevel', 'doReturnOnLowerLevels',
       'numberOfBoostersUsed', 'fractionOfUsefullBoosters', 'totalScore',
       'totalBonusScore', 'totalStarsCount', 'numberOfDaysActuallyPlayed',
       'res'],
      dtype='object')

In [30]:
x = pd.read_csv('workdir/data/v0001_test_x.csv', index_col='id')
ind1 = x[x['numberOfDaysActuallyPlayed']==14].filter(items=['numberOfDaysActuallyPlayed', 'res']).index.values

array([1000398, 1000896, 1000917, 1001126, 1001191, 1001376, 1001577,
       1001667, 1002176, 1002288, 1002369, 1002768, 1002776, 1002825,
       1002862, 1002914, 1003810, 1004205, 1004268, 1004389, 1004900,
       1005053, 1005687, 1006651, 1007217, 1007227, 1007268, 1008215,
       1008412, 1008801, 1009257, 1009308, 1009469, 1009504, 1009515,
       1009519, 1009759, 1009787, 1010630, 1010935, 1011092, 1011131,
       1011594, 1012614, 1012771, 1013464, 1013565, 1013738, 1013996,
       1014257, 1014463, 1014533, 1014564, 1014707, 1014709, 1015080,
       1015357, 1016141, 1016187, 1016283, 1016433, 1016569, 1016786,
       1016802, 1016808, 1017436, 1017507, 1018295, 1018335, 1018444,
       1018497, 1019062, 1019219, 1019233, 1019303, 1019731, 1019865,
       1020152, 1020279, 1021511, 1021749, 1022182, 1022248, 1022259,
       1022352, 1022421, 1022635, 1023505, 1023573, 1023613, 1023712,
       1024475, 1024635, 1024674, 1025074], dtype=int64)